<!DOCTYPE html>
<html lang = "en">

    {% load static meal_helpers %}

    <link rel="stylesheet" href="{% static 'css/nav.css' %}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">


    <head>
        {% block scripts %}
        <title>Riya's Meals</title>
        {% endblock scripts %}
    </head>

    
    <body>
            <div class = "sidenav">
                <a href="{% url 'redirect_to_specific_meal' %}">Home</a>
                <a href="{% url 'weight' %}">Weight Tracker</a>
                <a href="{% url 'ingredients' %}">Ingredients</a>
                <a href="{% url 'favorites' %}">Favorites</a>
                <a href="{% url 'settings' %}">Settings</a>
                <a href="{% url 'browse' %}">Browse Meals</a>
            </div>

        <div class = "main">
            {% block content %}
            {% endblock %} 
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    </body>
</html>