{% extends 'base.html' %}

{% block content %}

{% load static %}

{% load static crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% if user.is_authenticated%}

        <h1>Favorites</h1> 

        <h2 style="text-align: center;">{{numFaves}} meals</h2>

        <br>

        <h2 style="text-align: left; margin-left: 0px;" title="Choose the restriction that applies.">
            Filter & Sort 
            <a href="#filter" class="expand_collapse_link" data-bs-toggle="collapse" style="color: black; padding-left: 0.5em;">
                <i class="fas fa-angle-down"></i>
            </a>
        </h2>
        <div id="filter" class="collapse">
            <form method="get" style="margin-left: 20px; margin-top: 20px">
                    <div class="horizontal_checkboxes">
                        Filter by: {{ form|crispy}}
                    </div>
                    <div class="sort_faves">{{ sort_form }}</div>
                    <button type="submit" class="btn btn-success">Go</button>
            </form>
        </div>

        <div class="container">
            <div class="row">
                
                {% for faveMeal in new %}

                    <div class="col-sm">
                        <p style="text-align: center; font-size: 20px; font-weight: bold;">{{faveMeal.name}}</p>
                        <p>
                            <a href="{% url 'mealObject' faveMeal.pk %}">
                                <img 
                                style = 
                                "width:300px; 
                                height:300px; 
                                object-fit:cover; 
                                display: block; 
                                margin-left: auto; 
                                margin-right: auto;"
                                src="{{faveMeal.image.url}}">
                            </a>
                        </p>
                        <p style="text-align: center;">
                            <button class="btn btn-outline-success" id="fav_add">
                                <a href="{% url 'favorite_add' faveMeal.id %}">
                                    Remove
                                </a>
                            </button>
                        </p>
                    </div>

                {% endfor %}
            </div>
        </div>


{% else %}
    <p class="loggedOut">Please Login <a href="{% url 'login' %}">here!</a></p>
{% endif %}
{% endblock content%} 

