{% extends 'base.html' %}

{% block title %}
Weight Tracker
{% endblock %}

{% block content %}

{% load static bootstrap %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

<div style="height: 300px; width: 1000px;">
    <canvas id="myChart" width="300" height="80"></canvas>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for w in weight_chart_data %} '{{w.date}}', {% endfor %}],
            datasets: [{
                label: 'Weight (kg)',
                data: [{% for w in weight_chart_data %} '{{w.weight|default_if_none:'null'}}',{% endfor %}],
                spanGaps: true,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
</div>

{% if user.is_authenticated %}

    
    <form method = "post" style="margin-left: 20px; margin-top: 20px"> {%csrf_token%}
        <div class = "input-group mb-3" style = text-align:center>
            <div class = "input-group-prepend">
                <button type="submit" name="save" class="btn btn-success">
                    {% if todays_weight %}Edit{% else %}Enter{% endif %} today's weight:
                </button>
                {{ form|bootstrap }}
            </div>
        </div>
        
    </form>

    {% for w in weights %}

        <p>{{w.weight}}</p>
        <p>{{user.username}}</p>
        <p>{{w.time}}</p>

    {% endfor %}

{% else %}
    <p class="loggedOut">Please Login <a href="/login">here!</a></p>
{% endif %}

{% endblock %}